<!-- ==== Questions Form ==== -->
<section class="question-form">
    <h2>Ask your question</h2>

    <form action="/room/create/<%= roomId %>" method="POST">
        <label for="question" class="sr-only">What do you want to ask?</label>
        <textarea name="question" id="question" placeholder="What do you want to ask?" required></textarea>

        <footer>
            <div>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M15.0002 6.66666H14.1668V4.99999C14.1668 2.69999 12.3002 0.833328 10.0002 0.833328C7.70016 0.833328 5.8335 2.69999 5.8335 4.99999V6.66666H5.00016C4.0835 6.66666 3.3335 7.41666 3.3335 8.33333V16.6667C3.3335 17.5833 4.0835 18.3333 5.00016 18.3333H15.0002C15.9168 18.3333 16.6668 17.5833 16.6668 16.6667V8.33333C16.6668 7.41666 15.9168 6.66666 15.0002 6.66666ZM10.0002 14.1667C9.0835 14.1667 8.3335 13.4167 8.3335 12.5C8.3335 11.5833 9.0835 10.8333 10.0002 10.8333C10.9168 10.8333 11.6668 11.5833 11.6668 12.5C11.6668 13.4167 10.9168 14.1667 10.0002 14.1667ZM12.5835 6.66666H7.41683V4.99999C7.41683 3.57499 8.57516 2.41666 10.0002 2.41666C11.4252 2.41666 12.5835 3.57499 12.5835 4.99999V6.66666Z"
                        fill="#A5B0C1" />
                </svg>
                Anonymous Question
            </div>

            <button class="send">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.3332 1.66667L9.1665 10.8333" stroke="#D35C19" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M18.3332 1.66667L12.4998 18.3333L9.1665 10.8333L1.6665 7.5L18.3332 1.66667Z"
                        stroke="#D35C19" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </footer>
    </form>
</section>

<!-- ==== Questions ==== -->
<section class="questions">
    <h2 class="sr-only">Community questions</h2>

    <% if (!hasQuestions) { %>
        <%- include('no-questions') %>
            <% } %>
                <div class="questions-wrapper">

                    <% questions.forEach( question=> { %>
                        <div class="question">
                            <div class="content">
                                <div class="avatar">
                                    <svg width="34" height="32" viewBox="0 0 34 32" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <ellipse cx="16.8023" cy="16" rx="16.4586" ry="16"
                                            fill="url(#paint0_linear_11006_755)" />
                                        <path
                                            d="M21.8666 21.5385V20.3077C21.8666 19.6549 21.5999 19.0287 21.125 18.5671C20.6502 18.1055 20.0061 17.8462 19.3346 17.8462H14.2704C13.5988 17.8462 12.9548 18.1055 12.4799 18.5671C12.0051 19.0287 11.7383 19.6549 11.7383 20.3077V21.5385"
                                            stroke="#FAFAFA" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M16.8021 15.3846C18.2005 15.3846 19.3342 14.2825 19.3342 12.9231C19.3342 11.5636 18.2005 10.4615 16.8021 10.4615C15.4037 10.4615 14.27 11.5636 14.27 12.9231C14.27 14.2825 15.4037 15.3846 16.8021 15.3846Z"
                                            stroke="#FAFAFA" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <defs>
                                            <linearGradient id="paint0_linear_11006_755" x1="39.7427" y1="-48.4086"
                                                x2="16.3311" y2="35.7856" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="#5498FF" />
                                                <stop offset="0.515625" stop-color="#428EFF" />
                                                <stop offset="1" stop-color="#297FFF" />
                                            </linearGradient>
                                        </defs>
                                    </svg>
                                </div>

                                <a href="#">
                                    <%= question.title %>
                                </a>
                            </div>

                            <div class="actions">
                                <div class="check" data-id="<%= question.id %>">
                                    <img data-id="<%= question.id %>" src="/images/check.svg" alt="Check icon">
                                </div>

                                <div class="delete" data-id="<%= question.id %>">
                                    <img data-id="<%= question.id %>" src="/images/delete.svg" alt="Trash icon">
                                </div>
                            </div>
                        </div>
                        <% }) %>

                            <% questionsRead.forEach(question=> {%>
                                <div class="question read">
                                    <div class="content">
                                        <div class="avatar">
                                            <svg width="34" height="32" viewBox="0 0 34 32" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <ellipse cx="16.8023" cy="16" rx="16.4586" ry="16"
                                                    fill="url(#paint0_linear_11006_755)" />
                                                <path
                                                    d="M21.8666 21.5385V20.3077C21.8666 19.6549 21.5999 19.0287 21.125 18.5671C20.6502 18.1055 20.0061 17.8462 19.3346 17.8462H14.2704C13.5988 17.8462 12.9548 18.1055 12.4799 18.5671C12.0051 19.0287 11.7383 19.6549 11.7383 20.3077V21.5385"
                                                    stroke="#FAFAFA" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M16.8021 15.3846C18.2005 15.3846 19.3342 14.2825 19.3342 12.9231C19.3342 11.5636 18.2005 10.4615 16.8021 10.4615C15.4037 10.4615 14.27 11.5636 14.27 12.9231C14.27 14.2825 15.4037 15.3846 16.8021 15.3846Z"
                                                    stroke="#FAFAFA" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <defs>
                                                    <linearGradient id="paint0_linear_11006_755" x1="39.7427"
                                                        y1="-48.4086" x2="16.3311" y2="35.7856"
                                                        gradientUnits="userSpaceOnUse">
                                                        <stop stop-color="#5498FF" />
                                                        <stop offset="0.515625" stop-color="#428EFF" />
                                                        <stop offset="1" stop-color="#297FFF" />
                                                    </linearGradient>
                                                </defs>
                                            </svg>
                                        </div>

                                        <a href="#">
                                            <%= question.title %>
                                        </a>
                                    </div>

                                    <div class="actions">
                                        <div class="delete" data-id="<%= question.id %>">
                                            <img data-id="<%= question.id %>" src="/images/delete.svg" alt="Trash icon">
                                        </div>
                                    </div>
                                </div>
                                <% }) %>

                </div>
</section>